.article{
    border: 10px solid black;
    background-color: chartreuse;
    border-radius: 20%;
    margin: 10px;
    width: 90%;
    box-shadow: 10px 20px 5px gray;
}
.header{
    /* text-align: center;
    text-decoration: underline;
    font-size: 50px;
    color: rgb(46, 23, 86); */
    background-image: url("img.png") ;
    background-position:center;
    height: 500px;
    border-top: 0px;

}
/* ../img */